<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/unite-gallery.css"/>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <title>Travel Photo Gallery</title>
  </head>
  <body>
    <div class="container">$CONTENT</div>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/popper.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/unitegallery.js"></script>
    <script type="text/javascript" src="/js/ug-theme-tiles.js"></script>
  </body>
</html>
